<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ibsa Ejeta</title>
    <link rel="icon" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7CSacramento%7CMerriweather:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/personalstyles.css">
  </head>

  <body>
    <div class="new">
      <div class="top-container" id="top">
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/emojipedia/61/eagle_1f985.png" alt="Cloud Img" class="top-cloud">
        <h1>Ibsa Ejeta</h1>
        <h2 class="job-title">a Web Developer</h2>
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/lg/57/cloud_2601.png" alt="Cloud Image" class="bottom-cloud">
        <!-- <img src="images/mountain.png" alt="Mountain Image" class="mtn-img"> -->

      </div>

      <div class="middle-container">
        <div class="profile">
          <img class="profile-pic" src="https://lh3.googleusercontent.com/sIIU0wzotGRv5ME_C3OCOQm4-yRJAIpJ8x-kA-PDjiER_scUM013mI3GLxODVClTZidnusp64HOcxDaRUe4LBRY0iVj6D82YIaAaT2NSjCCUzpS5OtyCA8RZnc2WFtA0lODF59HN775dAVhB61-vB1pBItXpMJBHYPJlPrHIz4WBapADhFrJz7lcOMLMe4d_0LgTyzFuLxsuvbKTjAeDrf4BPDAKdTJG7r9-wHAMIf5z8dyvxlPeHZVm7QAN50wcqndZ-U9mTAKPTOgjk8cC1yEvRYngUFUxFD50drsic5reqC1Sq8HMzpSP_vJSe1S-pHjcksGl-24UPfOxZT2aci3nQ30jwW5XvtZCAlL88p97thRJU0tYu_gsIIuDggw-EhaFdp9aKfIUyusQ0NV8j02DKZlv-KfARREG_jM0MrwesQ98zvO-kKbY3fIB6UsId8blZ1dEzPNqWKAWJz_ToLqyKKxrnbJniHExZa3zOPox84mxPxVhLUCdRlevpSXmxvLiUYUYyL3EI6AH1E6wusTMQ4JTEt3gesJOUaRV1bKrTME72Pq7tf8voQV0nVlKOcrva7GnNNZYv6NsANnxJcv4NxLHKYI6KNvV-4tKEcjvjogX-K6aFD_nm0h9Bh9fo0DZHPARDYO6iMhX3f_tg4H_5naLaDz8vBymQd3TiTmfl_eOSoXK6GFrFtFK5wv2IgPAfdB4dWWp3m_V_15XMmw5Cf4B7llYt-SwXbmw-UpwA0o=w232-h295-no" alt="Ejeta Image">
          <h2>Hello</h2>
          <p class="intro">Creative web developer dedicated to building and optimizing the performance of user-centric, high-impact websites. Leverage technical, analytical and problem-solving skills to create dynamic, high-speed websites, apps and platforms fueling competitive advantage and revenue growth.</p>
        </div>
    </div>

      <hr>
      <div class="skills">

        <h2>My Skills</h2>
        <div class="skill-row">
          <img class="html-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" alt="HTML Image">
          <h3>HTML</h3>
          <p class="code-skill-description">Edit, design, and implement website graphics for both public and gated sites to comply with style guides and developed and designed cross-browser pages.</p>
        </div>
        <div class="skill-row">
          <img class="css-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="CSS Image">
          <h3>CSS</h3>
          <p class="code-skill-description">Defined, maintained, implemented and enforced style guides and standards. Created and maintained CSS3 stylesheets.</p>
        </div>
        <div class="skill-row">
          <img class="js-img" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript Image">
          <h3>JavaScript</h3>
          <p class="code-skill-description">Proficient in programming JavaScript data capture and event handling methods via the DOM event model</p>
        </div>
        <div class="skill-row">
          <img class="python-img" src="https://pluralsight.imgix.net/paths/python-7be70baaac.png" alt="Python Image">
          <h3>Python</h3>
          <p class="code-skill-description">Very strong Python coding experience with solid understanding of Python internals.</p>
        </div>
        <div class="skill-row">
          <img class="react-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png" alt="React Image">
          <h3>React</h3>
          <p class="code-skill-description">Able to write declarative, component-based webpages using React.</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>I'm currently available for full-time, part-time or freelance work.</h3>

        <a class="btn" href="mailto:ibsa.ej@gmail.com">CONTACT ME</a>
      </div>
    </div>
  
  
  
    <div id="map" class="map"></div>

    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/ibsaejeta/" target="_blank">LinkedIn</a>
      <a class="footer-link" href="https://github.com/ibsa-ejeta">GitHub</a>
      <a class="footer-link" href="#top">Website</a>
    </div>
    <script defer src="<%= location %>">
    </script>
    <script src="index.js"></script>
  </body>

</html>

